.board {
  padding: 12px;

  .column {
    width: 250px;

    .column-header {
      padding: 12px;

      .title {
        color: #fff;
      }
      .column-header-menu-button {
        margin-left: 130px;
        width: 26px;
        height: 26px;
      }
    }
  }

  .new-ticket-input {
    padding: 16px;
  }
}
