.dropdown-wrapper {
  margin-left: 16px;
  margin-top: 5px;
}

.mail-badge {
  margin-right: 16px;
  top: -6px;
  color: white;

  > span > div > span {
    height: 20px;
    width: 20px;
    border: solid 2px #333;
  }

  > span {
    color: white;
  }
}

.header-toolbar {
  padding-left: 40px;
  height: 50px;
  min-height: 50px !important;
}

header {
  background-color: #333 !important;
}
