a.dropdown {
  text-decoration: none;
  color: #ddd;
  transition: all ease-out .3s;

  &:focus  { color: #a9a9a9; }
  &:visited{ color: #a9a9a9; }
  &:active { color: #a9a9a9; }
  &:hover  { color: #f4f4f4; }
}

.menu-item {
  margin-right: 8px;
}

.project-icon {
  height: 30px;
  width: 30px;
}